<!doctype html>
<html lang="en">
<%- include('../common/head.ejs') %>

<body>
    <%- include('../common/header.ejs') %>

    <div class="content">
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-xs-8 offset-xs-1">
                    <div class="text-center">
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <%- include('../common/footer.ejs') %>
</body>

</html>