<footer>
    <div class="navbar navbar-dark bg-dark">
        <div class="py-2 nav-item text-light d-flex justify-content-center mx-auto">
            <h5 class="mb-0">© 2020 Music Store</h5>
        </div>
    </div>
</footer>